@import "../../responsive.scss";

.forgot-password__container {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(231, 231, 231);
  position: fixed;
  top: 0;
  left: 0;

  .forgot-password__box {
    background-color: white;
    width: 25vw;
    height: 40vh;
    box-sizing: border-box;
    overflow: hidden;

    .forgot-password__heading {
      text-align: center;
      color: rgba(0, 0, 0, 0.644);
      font: 400 1.3vmax "Roboto";
      padding: 1.3vmax;
      border-bottom: 1px solid rgba(0, 0, 0, 0.205);
      width: 50%;
      margin: auto;
    }

    .forgot-password__form {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-evenly;
      align-items: center;
      margin: auto;
      padding: 2vmax;
      height: 70%;
      transition: all 0.5s;

      & > div {
        display: flex;
        align-items: center;
        width: 100%;

        & > input {
          padding: 1vmax 1vmax 1vmax 4vmax;
          width: 100%;
          box-sizing: border-box;
          border: 1px solid rgba(0, 0, 0, 0.267);
          border-radius: 4px;
          outline: none;
          font: 300 0.9vmax cursive;
        }

        & > svg {
          position: absolute;
          transform: translateX(1vmax);
          font-size: 1.6vmax;
          color: rgba(0, 0, 0, 0.623);
        }
      }

      & > a {
        align-self: flex-end;
        text-decoration: none;
        color: rgba(0, 0, 0, 0.651);
        font: 500 0.8vmax "Gill Sans";

        &:hover {
          color: black;
        }
      }

      & > input {
        width: 100%;
        padding: 0.8vmax;
        background-color: tomato;
        color: #fff;
        border-radius: 4px;
        border: none;
        font: 300 0.9vmax "Roboto";
        cursor: pointer;
        outline: none;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
      }
    }
  }

  @include tablet {
    background-color: white;

    .forgot-password__box {
      width: 100vw;
      height: 95vh;

      .forgot-password__form {
        padding: 5vmax;

        & > div > input {
          padding: 2.5vmax 5vmax;
          font: 300 1.7vmax cursive;
        }

        & > div > svg {
          font-size: 2.8vmax;
        }

        & > input {
          font: 300 1.9vmax "Roboto";
          padding: 1.8vmax;
        }
      }

      .forgot-password__form > a {
        font: 500 1.8vmax "Gill Sans";
      }
    }
  }
}
